/******************************************
/* SETUP
/*******************************************/

#container {
  font-family: Open Sans;
    width: 960px;
    margin: auto;
}

header {
  background-color: #033048;
}

h1 {
  font-size: 40px;
  font-weight: 800px;
  color: white;
  float: left;
}

nav {
  background-color: #033048;
  float: right;
  padding: 0px 0px;
}

nav a {
  font-weight: 800px;
  font-size: 15px;
  color: yellow;
  text-decoration: none;
}

section {
  float: left;
}

h3 {
  font-size: 15px;
  color: #121212;
  font-style: bold;
}

p {
  font-size: 12px;
  font-weight: lighter;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  overflow:; auto;
  padding: 50px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




