/******************************************
/* SETUP
/*******************************************/

#container {
  font-family: Sans-serif;
  width: 960px;
  margin: auto;
  background-color: #f0efef;
}

header {
  background-color: #033048;
  overflow: auto;
  padding: 50px;
}

h1 {
  font-size: 45px;
  color: white;
  float: left;
  margin: 0px;
  padding: 0px;
  font-style: bold;
  line-height: .5;
}

nav {
  background-color: #033048;
  float: right;
  padding: 0px;
  margin: 0px;
}

nav a {
  font-size: 24px;
  color: yellow;
  text-decoration: none;
  margin: 0px;
  padding-right: 30px;
  line-height: 1;
}

section {
  float: left;
  margin-left: 40px;
  width: 680px;
}

h3 {
  font-size: 35px;
  color: #033048;
  margin: 0px;
  padding-bottom: 25px;
  margin-top: 0px;
  line-height: 1.2;
}

p {
  font-size: 24px;
  font-weight: lighter;
  margin: 0px;
  padding-top: 20px;
  color: #606161;
  line-height: 1.4;
  padding-bottom: 25px;
}

h4 {
  text-align: right;
  font-size: 22px;
  color: #033048;
  padding-bottom: 15px;
}

.clear {
  clear: both;
}

.article1 {
  padding: 0 10px 10px 0;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #033048;
}

.article2 {
  padding: 0 10px 10px 0;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #033048;
}

#sidebar {
  width: 200px;
  float: right;
  padding-top: 50px;
  text-align: left;
  margin-left: -80px;
}

#sidebar h1 {
  color: #033048;
  font-size: 32px; 
  padding-bottom: 20px;
  padding-top: 15px
}

.learnmore {
  margin: 0px;
  color: #033048;
}

#sidebar ul {
  line-height: 1.5;
  padding-bottom: 80px
  font-size: 24px;
  color: #033048;
}

#sidebar p {
  line-height: 1.2;
  padding-bottom: 20px
  font-size: 24px;
  color: #606161;

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




