/******************************************
/* SETUP
/*******************************************/

#container {
  font-family: Sans-serif;
  width: 960px;
  margin: auto;
  background-color: #f0efef;
}

header {
  background-color: #033048;
  overflow: auto;
  padding: 50px;
}

h1 {
  font-size: 55px;
  color: white;
  float: left;
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: #033048;
  float: right;
  padding: 0px;
  margin: 0px;
}

nav a {
  font-size: 24px;
  color: yellow;
  text-decoration: none;
  margin: 0px;
  padding-right: 20px;
}

section {
  float: left;
  margin: 10px;
  width: 700px;
}

h3 {
  font-size: 40px;
  color: #033048;
  margin: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
}

p {
  font-size: 24px;
  font-weight: lighter;
  margin: 0px;
  padding-top: 10px;
  color: #606161;
  line-height: 1.4;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.article1 {
  padding: 0 10px 10px 0;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #033048;
}

.article2 {
  padding: 0 10px 10px 0;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #033048;
}
/******************************************
/* BASE STYLES
/*******************************************/


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




