      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      header {
        width: 100%;
        height: 50px;
      }
      nav {
        background-color: #183A8F;
        padding: 10px;
        text-align: center;
        width: 100%;
      }
      nav a {
        color: white;
        font-size: 13px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        margin: 5px;
        padding: 11px;
        text-align: center;
      }
      nav a:hover {
        background-color: #0F2761;
        font-family: 'Lato';
      }
      #heading h1 {
        text-align: center;
        font-family: 'Oleo Script', sans-serif;
        font-size: 44px;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 280px;
        text-align: center;
        font-weight: 700;
        margin: 0;
        color: #FF3F3C;
        float: left;
      }
      #subheading h4 {
        color: white;
        float: left;
        padding-left: 17px;
        font-size: 24px;
        font-weight: 700;
        margin-top: 34px;
        margin-bottom: 0;
        font-family: 'Lato';
        font-style: italic;
      }
      #main {
        background-color: black;
        background-size: cover;
        overflow: auto;
        width: 100%;
        margin-top: -11px;
      }
      #map {
        height: 70%;
        width: 100%;
      }
	    #venice {
        margin-top: 1.5px;
        height:63%;
        width:100%;
        background-image: url(./Images/ven1.jpg);
        background-size: cover;
        overflow: auto;
      }
#article1 {
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-left: 75px;
  line-height: 1.4;
  padding-right: 50px;
  width: 250px;
  border-right: solid 1.5px gray; 
}

#article2 {
  float: left;
  width: 250px;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 1.4;
  padding-right: 50px;
  width: 250px;
  border-right: solid 1.5px gray; 
}

#article3 {
  float: left;
  width: 250px;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 1.4;
  width: 250px;
}

.paragraph1 {
  font-family: 'Lato';
  font-size: 15px;
  color: black;
  font-weight: 700;
  margin-top: 0;
}

.paragraph2 {
  font-family: 'Lato';
  font-size: 15px;
  color: black;
  font-weight: 700;
  margin-top: 0;
}

.paragraph3 {
  font-family: 'Lato';
  font-size: 15px;
  color: black;
  font-weight: 700;
  margin-top: 0;
}

.button {
  text-align: center;
  background-color: firebrick;
  color: white;
  width: 80%;
  margin-top: -5px;
}
.button, p {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Oleo Script';
  font-size: 20px;
  font-weight: 400;
}
#sectioncontact {
  padding-left: 23.5%;
  margin-top: 30px;
  font-size: 16px;
  color: firebrick;
  font-weight: 700;
  font-style: italic;
  font-family: 'Lato';
}
body {
  background-image: url(./Images/creampaper.jpg); 
  background-size: cover;
}
section {
  background-image: url(./Images/creampaper.jpg); 
  background-size: cover;
  height: 50%;
  width: 100%;
  margin-top: 0;
  overflow: auto;
}
