body {
	background-color: gray;
}

#navbar {
	color: white;
	text-decoration: none;
	background-color: black;
	text-align: center;
}

#center {
	background-color: orange;
}

p.lorem {
	color: blue;
	}

p.borem {
	color: green;
	}

p.gorem {
	color: yellow;
	}