body {
	background-color: gray;
	padding: 20px;
	margin: 0 auto;
}

#navbar {
	color: white;
	text-decoration: none;
	background-color: black;
	text-align: center;
}

.lorem, .borem, .gorem {
	text-align: center;
	background-color: orange;
}

p.lorem {
	color: blue;
	}

p.borem {
	color: green;
	}

p.gorem {
	color: yellow;
	}