body {
	background-color: white;
	padding: 2px 50px 50px 50px;
}

#contentcentered {
	background-color: lightgray;
	padding: 12px 12px 15px 12px;
	margin: 0 auto;
}

#navbar {
	background-color: black;
	text-align: center;
	padding: 8px;
}

a {
	text-decoration: none;
	color: white;
}

.lorem, .borem, .gorem {
	text-align: center;
	background-color: tomato;
	padding: 18px;
}

p.lorem {
	color: blue;
	}

p.borem {
	color: green;
	}

p.gorem {
	color: yellow;
	}