header {
	overflow: auto;
	padding-left: 30px;
	border-bottom: 5px yellow solid;
	background-color: black;
	margin: 0px;
}

header h1 {
	float: left;
	color: yellow;
	font-family: Merriweather, serif;
}

header nav {
	float: right;
	padding: 30px 10px;
	background-color: black;
}

header nav a {
	text-decoration: none;
	color: white;
	font-family: Oswald;
	padding-right: 15px;
	font-size: 16px;
}

header nav a:hover {
	font-family: Oswald;
}

.tagline {
	text-align: center;
	color: black;
	background-color: #c6c6c6;
	font-family: Merriweather, serif;
	margin: 0px;
	padding: 10px 10px;
	font-size: 21px;
	font-style: italic;
}

main {
	background: url(../img/coworking.jpg);
	overflow: auto;
}

main #hoverbox {
	float: right;
	background-color: white;
}

main #hoverbox h2 {
	font-family: Merriweather, serif;
	font-size: 22px;
	font-style: bold;
	color: black;
	margin-bottom: 0px;
}

article h3 {
	font-family: Merriweather, serif;
	font-size: 22px;
	color: black;
	margin-bottom: 0px;
}

.paragraph1 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}

.paragraph2 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}

.paragraph3 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}