header {
	overflow: auto;
	padding-left: 30px;
	border-bottom: 5px yellow solid;
	background-color: black;
	margin: 0px;
}

header h1 {
	float: left;
	color: yellow;
	font-family: Merriweather, serif;
}

header nav {
	float: right;
	padding: 30px 10px;
	background-color: black;
}

header nav a {
	text-decoration: none;
	color: white;
	font-family: Oswald;
	padding-right: 15px;
	font-size: 16px;
}

header nav a:hover {
	font-family: Oswald;
}

.tagline {
	text-align: center;
	color: black;
	background-color: #c6c6c6;
	font-family: Merriweather, serif;
	margin: 0px;
	padding: 10px 10px;
	font-size: 21px;
	font-style: italic;
}

#main {
	background: url(../img/coworking.jpg);
	overflow: auto;
	height: 500px;
	background-size: cover;
}

#hoverbox {
	float: right;
	background-color: white;
	width: 325px;
	height: 250px;
	padding-right: 20px;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	margin: 30px;
	overflow: auto;
}

#hoverbox h2 {
	font-family: Source Sans Pro;
	font-size: 25px;
	font-style: bold;
	color: black;
	margin-bottom: 0px;
}

#hoverbox h4 {
	text-align: center;
	font-style: bold;
	font-family: Oswald;
	padding: 11px;
	background-color: yellow;
}

#hoverbox p {
	font-family: Source Sans Pro;
	line-height: 1.4;
	margin-top: 10px;
}

#article1 {
	float: left;
	width: 200px;
	margin-top: 20px;
	margin-left: 30px;
	line-height: 1.4;
	padding-right: 15px;
	width: 250px;
	border-right: solid 2px gray; 
}

#article2 {
	float: left;
	width: 200px;
	margin-top: 20px;
	margin-left: 30px;
	line-height: 1.4;
	padding-right: 15px;
	width: 250px;
	border-right: solid 2px gray; 
}

#article3 {
	float: left;
	width: 200px;
	margin-top: 20px;
	margin-left: 30px;
	line-height: 1.4;
	width: 250px;
	border-right: solid 2px gray; 
}

section h3 {
	font-family: Merriweather, serif;
	font-size: 18px;
	color: black;
	margin-bottom: 5px;
	text-align: left;
}

.paragraph1 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}

.paragraph2 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}

.paragraph3 {
	font-family: Source Sans Pro;
	font-size: 14px;
	color: black;
	margin-top: 0px;
}