#container {
	font-family: Lato;
	width: 720px;
	padding: 54px;
	border-left: solid 6px #444444;
}	

h1 {
	color: red;
	font-size: 50px;
	font-weight: 300px;
}

h2 {
	color: black;
	font-weight: 300px;
}

nav a {
	font-weight: 300px;
	color: #dddddd;
	padding-right: 10px;
}

nav a:hover {
	font-weight: 300px;
	color: black;
}

#footernav a {
	color:#dd0000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300px;
	text-decoration: none;
}

#footernav a:hover {
color: #aa0000;
}

article {
	font-size: 28px;
	font-weight: 500px;
	border-bottom: solid 1px #dddddd;
}

.date {
	color: #cccccc;
	font-weight: 300px;
	padding: 2px;
}

.articletitle .copy {
	color: black;
}

.copy {
	font-size: 12;
	font-weight: 300px;
	line-height: 1.5;
}

.continue {
	text-align: right;
	color: red;
	font-weight: bold;
}


