#container {
	font-family: Lato;
	width: 720px;
	padding: 54px;
	border-left: solid 6px #dddddd;
}	

h1 {
	color: red;
	font-size: 50px;
	font-weight: 300px;
}

h2 {
	color: black;
	font-weight: 300px;
}

nav {
	font-weight: 300px;
}

a {
	color:#dddddd;
	padding-right: 10px;
}

a:hover {

}

article {
	font-size: 28px;
	font-weight: 500px;
	border-bottom: solid 1px #dddddd;
}

.date {
	color: #cccccc;
	font-weight: 300px;
}

.articletitle .copy {
	color: black;
}

.copy {
	font-size: 12;
	font-weight: 300px;
}

.continue {
	text-align: right;
	color: red;
	font-weight: bold;
}


